<!doctype html>
<html lang="uk">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title or "Хоменко Андрій" }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

  {# якщо маєш готовий header/nav як include — підключимо потім #}

  <main>
    {{ content | safe }}
  </main>

</body>
</html>
