<section class="partners-carousel">

  <div class="partners-carousel__heading">
    <h2>Хто замовляє ПОБ і ПВР у мене?</h2>
    <p>Мої партнери</p>
  </div>

  <div class="partners-carousel__viewport">

    <div class="partners-carousel__track">

      <!-- ПЕРШИЙ НАБІР -->

      <div class="partner-card">
        <img src="/assets/images/partners/gefest.webp" alt="ТОВ Гефест">
      </div>

      <div class="partner-card">
        <img src="/assets/images/partners/odaba.webp" alt="ОДАБА - Одеська державна академія будівництва та архітектури">
      </div>

      <div class="partner-card">
        <img src="/assets/images/partners/eletaria.webp" alt="Eletaria Development">
      </div>

      <div class="partner-card">
        <img src="/assets/images/partners/abc_construction.webp" alt="ABC Construction">
      </div>

      <div class="partner-card">
        <img src="/assets/images/partners/abris.webp" alt="Abris Group">
      </div>

      <div class="partner-card">
        <img src="/assets/images/partners/bti.webp" alt="ТОВ Одеське БТІ">
      </div>

      <div class="partner-card">
        <img src="/assets/images/partners/megaline.webp" alt="ТОВ Мегалайн Констракшн">
      </div>

      <div class="partner-card">
        <img src="/assets/images/partners/platinumbud.webp" alt="Платинумбуд">
      </div>

      <div class="partner-card">
        <img src="/assets/images/partners/eurotechenergo.webp" alt="Євротехенерго">
      </div>


      <div class="partner-card">
        <img src="/assets/images/partners/eurotransstroy.webp" alt="Евротрансстрой">
      </div>

      <div class="partner-card">
        <img src="/assets/images/partners/m-build.webp" alt="M-Build">
      </div>

      <!-- ДУБЛЬ ДЛЯ БЕЗПЕРЕРВНОЇ АНІМАЦІЇ -->

      <div class="partner-card">
        <img src="/assets/images/partners/gefest.webp" alt="ТОВ Гефест">
      </div>

      <div class="partner-card">
        <img src="/assets/images/partners/odaba.webp" alt="ОДАБА - Одеська державна академія будівництва та архітектури">
      </div>

      <div class="partner-card">
        <img src="/assets/images/partners/eletaria.webp" alt="Eletaria Development">
      </div>

      <div class="partner-card">
        <img src="/assets/images/partners/abc_construction.webp" alt="ABC Construction">
      </div>

      <div class="partner-card">
        <img src="/assets/images/partners/abris.webp" alt="Abris Group">
      </div>

      <div class="partner-card">
        <img src="/assets/images/partners/bti.webp" alt="ТОВ Одеське БТІ">
      </div>

      <div class="partner-card">
        <img src="/assets/images/partners/megaline.webp" alt="ТОВ Мегалайн Констракшн">
      </div>

      <div class="partner-card">
        <img src="/assets/images/partners/platinumbud.webp" alt="Платинумбуд">
      </div>

      <div class="partner-card">
        <img src="/assets/images/partners/eurotechenergo.webp" alt="Євротехенерго">
      </div>


      <div class="partner-card">
        <img src="/assets/images/partners/eurotransstroy.webp" alt="Евротрансстрой">
      </div>

      <div class="partner-card">
        <img src="/assets/images/partners/m-build.webp" alt="M-Build">
      </div>

    </div>

  </div>

</section>
