---
layout: base.njk
title: Блог
---

<h1>Блог</h1>

<ul>
  {% for post in collections.blog | reverse %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
      <div>{{ post.data.date | date("uk-UA") }}</div>
      {% if post.data.description %}<p>{{ post.data.description }}</p>{% endif %}
    </li>
  {% endfor %}
</ul>
